{% extends "base.html" %}
{% load static %}

{% block title %}
Quản lý tài khoản
{% endblock %}

{% block content %}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Quản lý tài khoản</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Quản lý tài khoản</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->


<!--  dashboard section start -->
<section class="dashboard-section section-b-space user-dashboard-section">
  <div class="container">
    {% include 'includes/alerts.html' %}
    <div class="row">
      <div class="col-lg-3">
        <div class="dashboard-sidebar">
          <div class="profile-top">
            <div class="profile-image">
              <img src="../assets/images/avtar.jpg" alt="" class="img-fluid">
            </div>
            <div class="profile-detail">
              <h5>{{ user.first_name }} {{ user.last_name }}</h5>
              <h6>{{ user.email }}</h6>
            </div>
          </div>
          <div class="faq-tab">
            <ul class="nav nav-tabs" id="top-tab" role="tablist">
              <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#info" class="nav-link active">Thông tin
                  chung</a></li>
              </li>
              <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#orders" class="nav-link">Quản lý đơn
                  hàng</a></li>
              <li class="nav-item"><a data-bs-toggle="tab" data-bs-target="#profile" class="nav-link">Thay đổi thông
                  tin</a></li>
              <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Đăng xuất</a> </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="faq-content tab-content" id="top-tabContent">
          <div class="tab-pane fade show active" id="info">
            <div class="counter-section">
              <div class="welcome-msg">
                <h4>KVBL xin chào!</h4>
                <p>Tại đây, bạn có thể xem và cập nhật
                  thông tin tài khoản. Chọn liên kết bên dưới để xem hoặc chỉnh sửa thông tin.</p>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="counter-box">
                    <img src="{% static '/images/icon/dashboard/sale.png' %}" class="img-fluid">
                    <div>
                      <h3>{{ orders_count }}</h3>
                      <h5>Tổng đơn hàng</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="orders">
            <div class="row">
              <div class="col-12">
                <div class="card dashboard-table mt-0">
                  <div class="card-body table-responsive-sm">
                    <div class="top-sec">
                      <h3>Đơn hàng của bạn</h3>
                    </div>
                    <div class="table-responsive-xl">
                      <table class="table cart-table order-table">
                        <thead>
                          <tr class="table-head">
                            <th scope="col">Số đơn hàng</th>
                            <th scope="col">Người đặt hàng</th>
                            <th scope="col">Số điện thoại</th>
                            <th scope="col">Tổng cộng</th>
                            <th scope="col">Ngày đặt hàng</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for order in my_order %}
                          <tr>
                            <td>
                              <span class="fs-6"><a href="">{{ order.order_number }}</a></span>
                            </td>
                            <td>
                              <span class="fs-6">{{ order.full_name }}</span>
                            </td>
                            <td>
                              <span class="fs-6">{{ order.phone_number }}</span>
                            </td>
                            <td>
                              <span class="fs-6 order-total" data-total="{{ order.order_total }}">{{ order.order_total
                                }}</span>
                            </td>
                            <td>
                              <span class="fs-6">{{ order.created_at }}</span>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="profile">
            <div class="row">
              <div class="col-12">
                <div class="card mt-0">
                  <div class="card-body">
                    <div class="dashboard-box">
                      <div class="dashboard-title">
                        <h4>profile</h4>
                        <a class="edit-link" href="#">edit</a>
                      </div>
                      <div class="dashboard-detail">
                        <ul>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>company name</h6>
                              </div>
                              <div class="right">
                                <h6>Fashion Store</h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>email address</h6>
                              </div>
                              <div class="right">
                                <h6>mark.jecno@gmail.com</h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>Country / Region</h6>
                              </div>
                              <div class="right">
                                <h6>Downers Grove, IL</h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>Year Established</h6>
                              </div>
                              <div class="right">
                                <h6>2018</h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>Total Employees</h6>
                              </div>
                              <div class="right">
                                <h6>101 - 200 People</h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>category</h6>
                              </div>
                              <div class="right">
                                <h6>clothing</h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>street address</h6>
                              </div>
                              <div class="right">
                                <h6>549 Sulphur Springs Road</h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>city/state</h6>
                              </div>
                              <div class="right">
                                <h6>Downers Grove, IL</h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>zip</h6>
                              </div>
                              <div class="right">
                                <h6>60515</h6>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                      <div class="dashboard-title mt-lg-5 mt-3">
                        <h4>login details</h4>
                        <a class="edit-link" href="#">edit</a>
                      </div>
                      <div class="dashboard-detail">
                        <ul>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>Email Address</h6>
                              </div>
                              <div class="right">
                                <h6>mark.jecno@gmail.com <a class="edit-link" href="#">edit</a></h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>Phone No.</h6>
                              </div>
                              <div class="right">
                                <h6>+01 4485 5454<a class="edit-link" href="#">Edit</a></h6>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="details">
                              <div class="left">
                                <h6>Password</h6>
                              </div>
                              <div class="right">
                                <h6>******* <a class="edit-link" href="#">Edit</a>
                                </h6>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  dashboard section end -->

{% block script %}
<script>
  setTimeout(function () {
    $('#message').fadeOut('slow')
  }, 5000)
</script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Hàm định dạng tiền Việt Nam
    function formatCurrencyVND(amount) {
      // Chuyển số thành chuỗi có phân cách hàng nghìn và thêm "đ"
      return new Intl.NumberFormat("vi-VN", {
        minimumFractionDigits: 0, // Không hiển thị số thập phân
        maximumFractionDigits: 0
      }).format(amount) + "đ";
    }

    // Lấy tất cả các cột chứa `order_total`
    document.querySelectorAll(".order-total").forEach(function (element) {
      // Lấy giá trị `data-total` từ HTML
      const total = element.getAttribute("data-total");

      if (total) {
        // Chuyển thành số trước khi định dạng
        const formattedTotal = formatCurrencyVND(Number(total));

        // Cập nhật nội dung của ô
        element.textContent = formattedTotal;
      }
    });
  });

</script>
{% endblock %}

{% endblock %}