{% extends "base.html" %}
{% load static %}

{% block title %}
Đăng nhập tài khoản
{% endblock %}

{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Đăng nhập tài khoản</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Đăng nhập</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

{% if request.GET.command == 'verification' %}

<div class="container mx-auto alert alert-info text-center" role="alert" style="max-width: 1024px; margin-top:100px;">
  Cảm ơn bạn đã đăng ký tài khoản. Chúng tôi đã gửi cho bạn một email xác minh đến địa chỉ email của bạn
  [{{request.GET.email}}]. <br><br>Vui lòng nhấp vào link đính kèm để tiến hành xác thực tài khoản.
  <br><br>
  Đã xác thực rồi? <a href="{% url 'login' %}">Đăng nhập ngay</a>
</div>

{% else %}

<!--section start-->
<section class="login-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3>Thông tin đăng nhập</h3>
        <div class="theme-card">

          {% include 'includes/alerts.html' %}

          <form class="theme-form" action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="email">Email <span class="text-danger">*</span></label>
              <input type="text" class="form-control" placeholder="Nhập vào email . . ." name="email" required="">
            </div>
            <div class="form-group">
              <label for="password">Mật khẩu <span class="text-danger">*</span></label>
              <input type="password" class="form-control" placeholder="Nhập vào mật khẩu . . ." name="password"
                required="">
            </div>
            <div class="form-group" style="display: flex; justify-content: space-between;">
              <button type="submit" class="btn btn-solid">Đăng nhập</button>
              <a href="{% url 'forgotPassword' %}">Quên mật khẩu?</a>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-6 right-login">
        <h3>Bạn chưa có tài khoản?</h3>
        <div class="theme-card authentication-right">
          <h6 class="title-font">Đăng ký tài khoản</h6>
          <p>Đăng ký tài khoản miễn phí tại cửa hàng của chúng tôi. Đăng ký nhanh chóng và dễ dàng. Nó cho phép bạn có
            thể đặt hàng từ cửa hàng của chúng tôi. Để bắt đầu mua sắm, hãy nhấp vào đăng ký.</p><a
            href="{% url 'register' %}" class="btn btn-solid">Đăng ký</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section ends-->
{% block script %}
<script>
  setTimeout(function () {
    $('#message').fadeOut('slow')
  }, 5000)
</script>
{% endblock %}

{% endif %}

{% endblock %}