{% extends "base.html" %} {% load static %} {% block title %} Đăng ký tài khoản
{% endblock %} {% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Đăng ký tài khoản mới</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="{% url 'home' %}">Trang chủ</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Đăng ký</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

<!-- section start -->
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<section class="register-page section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>
          Nhập đầy đủ thông tin bên dưới. Bạn đã có tài khoản?
          <a href="{% url 'login' %}" class="btn btn-solid btn-sm btn-xs me-3"
            >Đăng nhập ngay</a
          >
        </h3>

        <div class="theme-card">
          {% include 'includes/alerts.html' %}

          <!-- --------------------------------------------------- -->
          <!-- Non-field errors -->
          {% if form.non_field_errors %}
          <div class="alert alert-danger">
            {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
          {% endif %}

          <!-- Custom-field errors -->
          {% if form.first_name.errors %}
          <div class="alert alert-danger mt-2">
            {% for error in form.first_name.errors %}
            <small>{{ error }}</small>
            {% endfor %}
          </div>
          {% endif %} {% if form.last_name.errors %}
          <div class="alert alert-danger mt-2">
            {% for error in form.last_name.errors %}
            <small>{{ error }}</small>
            {% endfor %}
          </div>
          {% endif %} {% if form.email.errors %}
          <div class="alert alert-danger mt-2">
            {% for error in form.email.errors %}
            <small>{{ error }}</small>
            {% endfor %}
          </div>
          {% endif %} {% if form.phone_number.errors %}
          <div class="alert alert-danger mt-2">
            {% for error in form.phone_number.errors %}
            <small>{{ error }}</small>
            {% endfor %}
          </div>
          {% endif %} {% if form.password.errors %}
          <div class="alert alert-danger mt-2">
            {% for error in form.password.errors %}
            <small>{{ error }}</small>
            {% endfor %}
          </div>
          {% endif %} {% if form.confirm_password.errors %}
          <div class="alert alert-danger mt-2">
            {% for error in form.confirm_password.errors %}
            <small>{{ error }}</small>
            {% endfor %}
          </div>
          {% endif %}

          <form class="theme-form" action="{% url 'register' %}" method="POST">
            {% csrf_token %}

            <div class="form-row row">
              <div class="col-md-6">
                <label for="first_name"
                  >Họ và tên đệm <span class="text-danger">*</span></label
                >
                {{ form.first_name }}
              </div>
              <div class="col-md-6">
                <label for="last_name"
                  >Tên <span class="text-danger">*</span></label
                >
                {{ form.last_name }}
              </div>
            </div>

            <div class="form-row row">
              <div class="col-md-6">
                <label for="email"
                  >Email <span class="text-danger">*</span></label
                >
                {{ form.email }}
              </div>
              <div class="col-md-6">
                <label for="phone_number"
                  >Số điện thoại <span class="text-danger">*</span></label
                >
                {{ form.phone_number }}
              </div>
            </div>

            <div class="form-row row">
              <div class="col-md-6" id="show_hide_password">
                <label for="password"
                  >Mật khẩu <span class="text-danger">*</span> (dài hơn 6 ký
                  tự)</label
                >
                {{ form.password }}
                <a
                  href="javascript:;"
                  class="input-group-text bg-transparent"
                  style="
                    position: absolute;
                    top: 35%;
                    right: 1.5rem;
                    background: none;
                    border: none;
                  "
                  ><i class="fa-solid fa-eye-slash"></i
                ></a>
              </div>
              <div class="col-md-6" id="show_hide_confirm_password">
                <label for="confirm_password"
                  >Nhập lại mật khẩu <span class="text-danger">*</span></label
                >
                {{ form.confirm_password }}
                <a
                  href="javascript:;"
                  class="input-group-text bg-transparent"
                  style="
                    position: absolute;
                    top: 35%;
                    right: 1.5rem;
                    background: none;
                    border: none;
                  "
                  ><i class="fa-solid fa-eye-slash"></i
                ></a>
              </div>
            </div>

            <button type="submit" class="btn btn-solid w-auto">
              Xác nhận đăng ký
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->

{% block script %}
<style>
  /* CSS cho thông báo lỗi */
  .alert.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
  }

  .alert.alert-danger p {
    margin: 0;
    padding: 0;
  }

  .text-danger {
    color: #dc3545 !important;
    font-weight: bold;
  }
</style>

<script>
  // Tự động ẩn tất cả các thông báo lỗi sau 10 giây
  setTimeout(function () {
    document
      .querySelectorAll('.alert.alert-danger.mt-2')
      .forEach(function (alert) {
        alert.style.transition = 'opacity 1s';
        alert.style.opacity = '0';
        setTimeout(() => alert.remove(), 1000); // Xóa hoàn toàn sau khi hiệu ứng mờ kết thúc
      });
  }, 10000); // Thời gian 10 giây

  setTimeout(function () {
    $('#message').fadeOut('slow');
  }, 5000);
</script>

<script>
  $(document).ready(function () {
    $('#show_hide_password a').on('click', function (event) {
      event.preventDefault();
      if ($('#show_hide_password input').attr('type') == 'text') {
        $('#show_hide_password input').attr('type', 'password');
        $('#show_hide_password i').addClass('fa-eye-slash');
        $('#show_hide_password i').removeClass('fa-eye');
      } else if ($('#show_hide_password input').attr('type') == 'password') {
        $('#show_hide_password input').attr('type', 'text');
        $('#show_hide_password i').removeClass('fa-eye-slash');
        $('#show_hide_password i').addClass('fa-eye');
      }
    });
  });
</script>
<script>
  $(document).ready(function () {
    $('#show_hide_confirm_password a').on('click', function (event) {
      event.preventDefault();
      if ($('#show_hide_confirm_password input').attr('type') == 'text') {
        $('#show_hide_confirm_password input').attr('type', 'password');
        $('#show_hide_confirm_password i').addClass('fa-eye-slash');
        $('#show_hide_confirm_password i').removeClass('fa-eye');
      } else if (
        $('#show_hide_confirm_password input').attr('type') == 'password'
      ) {
        $('#show_hide_confirm_password input').attr('type', 'text');
        $('#show_hide_confirm_password i').removeClass('fa-eye-slash');
        $('#show_hide_confirm_password i').addClass('fa-eye');
      }
    });
  });
</script>

{% endblock %} {% endblock %}
