{% load static %}
<section class="banner-padding banner-furniture ratio2_1">
  <div class="container-fluid">
    <div class="row partition3">
      <div class="col-md-6">
        <a href="#">
          <div class="collection-banner p-left text-start">
            <div class="img-part">
              <img src="/images/fashion/1.jpg" alt="" class="img-fluid blur-up lazyload bg-img">
            </div>
            <div class="contain-banner">
              <div>
                <h4>save 30%</h4>
                <h2>jewels</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-md-6">
        <a href="#">
          <div class="collection-banner p-left text-start">
            <div class="img-part">
              <img src="/images/fashion/2.jpg" alt="" class="img-fluid blur-up lazyload bg-img">
            </div>
            <div class="contain-banner">
              <div>
                <h4>save 60%</h4>
                <h2>new</h2>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>