{% load static %}
<footer>
  <div class="dark-layout">
    <div class="container">
      <section class="section-b-space border-b">
        <div class="row footer-theme2">
          <div class="col-lg-3">
            <div class="footer-title footer-mobile-title">
              <h4>about</h4>
            </div>
            <div class="footer-contant">
              <div class="footer-logo"><img src="/images/icon/logo/f3.png" alt=""></div>
              <p>KVBL - Nơi thời trang không chỉ là trang phục, mà là cách bạn thể hiện cá tính và phong cách riêng. Kết nối đam mê, khẳng định chất riêng của bạn!</p>
            </div>
          </div>
          <div class="col-lg-6 subscribe-wrapper">
            <div class="subscribe-block">
              <h2>Đăng ký nhận tin</h2>
              <form>
                <div class="form-group">
                  <input style="letter-spacing: 0;" type="text" class="form-control" id="exampleFormControlInput3" placeholder="Nhập email tại đây . . .">
                  <button type="submit" class="btn btn-solid">Đăng ký</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="footer-title">
              <h4>Thông tin liên hệ</h4>
            </div>
            <div class="footer-contant">
              <ul class="contact-details">
                <li style="padding: 0;">Tầng 1 tòa E, số 07 – 09 đường Nguyễn Bỉnh Khiêm, phường Bến Nghé, quận 1, Thành phố Hồ Chí Minh.</li>
                <li style="padding: 0;">Hotline: 1900 7799</li>
                <li style="padding: 0;">Email: <a href="#">kvbl.shop.contact@gmail.com</a></li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</footer>