{% load static %}
<section class="p-0">
  <div class="slide-1 home-slider">
    <div>
      <div class="home">
        <img src="{% static '/images/home-banner/slider_1.jpg' %}" alt="" class="bg-img blur-up lazyload">
        <!-- <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4>welcome to fashion</h4>
                  <h1>man fashion</h1><a href="#" class="btn btn-solid">shop now</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <div>
      <div class="home">
        <img src="{% static '/images/home-banner/slider_2.jpg' %}" alt="" class="bg-img blur-up lazyload">
        <!-- <div class="container">
          <div class="row">
            <div class="col">
              <div class="slider-contain">
                <div>
                  <h4>welcome to fashion</h4>
                  <h1>top collection</h1><a href="#" class="btn btn-solid">shop now</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</section>