{% load static %}
<div class="title1 section-t-space">
  <h4>exclusive products</h4>
  <h2 class="title-inner1">special products</h2>
</div>
<section class="section-b-space pt-0 ratio_asos">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="theme-tab">
          <ul class="tabs tab-title">
            <li class="current"><a href="tab-4">New Products</a></li>
            <li class=""><a href="tab-5">Featured Products</a></li>
          </ul>
          <div class="tab-content-cls">


            <div id="tab-4" class="tab-content active default">
              <div class="no-slider row">
                {% for item in new_products_with_images %}
                <div class="product-box col-md-3">
                  <div class="img-wrapper">
                    <div class="lable-block">
                      <span class="lable3">new</span>
                    </div>
                    <div class="front">
                      <a href="product-page(no-sidebar).html">
                        {% if item.main_image %}
                        <img src="{{ item.main_image.image.url }}" class="img-fluid blur-up lazyload bg-img"
                          alt="{{ item.product.product_name }}">
                        {% else %}
                        <img src="{% static 'images/placeholder.png' %}" class="img-fluid blur-up lazyload bg-img"
                          alt="No image available">
                        {% endif %}
                      </a>
                    </div>
                    <div class="cart-info cart-wrap">
                      <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart">
                        <i class="ti-shopping-cart"></i>
                      </button>
                      <a href="javascript:void(0)" title="Add to Wishlist">
                        <i class="ti-heart" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-detail">
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <a href="product-page(no-sidebar).html">
                      <h6>{{ item.product.product_name }}</h6>
                    </a>
                    {% if item.product.discount_price %}
                    <h4>
                      {{ item.product.formatted_discount_price }}
                      <del>{{ item.product.formatted_price }}</del>
                    </h4>
                    {% else %}
                    <h4>
                      {{ item.product.formatted_price }}
                    </h4>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>

            <div id="tab-5" class="tab-content">
              <div class="no-slider row">
                {% for item in featured_products_with_images %}
                <div class="product-box col-md-3">
                  <div class="img-wrapper">
                    <div class="lable-block">
                      <span class="lable3">new</span>
                    </div>
                    <div class="front">
                      <a href="product-page(no-sidebar).html">
                        {% if item.main_image %}
                        <img src="{{ item.main_image.image.url }}" class="img-fluid blur-up lazyload bg-img"
                          alt="{{ item.product.product_name }}">
                        {% else %}
                        <img src="{% static 'images/placeholder.png' %}" class="img-fluid blur-up lazyload bg-img"
                          alt="No image available">
                        {% endif %}
                      </a>
                    </div>
                    <div class="cart-info cart-wrap">
                      <button data-bs-toggle="modal" data-bs-target="#addtocart" title="Add to cart">
                        <i class="ti-shopping-cart"></i>
                      </button>
                      <a href="javascript:void(0)" title="Add to Wishlist">
                        <i class="ti-heart" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                  <div class="product-detail">
                    <div class="rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <a href="product-page(no-sidebar).html">
                      <h6>{{ item.product.product_name }}</h6>
                    </a>
                    {% if item.product.discount_price %}
                    <h4>
                      {{ item.product.formatted_discount_price }}
                      <del>{{ item.product.formatted_price }}</del>
                    </h4>
                    {% else %}
                    <h4>
                      {{ item.product.formatted_price }}
                    </h4>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>