{% extends "base.html" %}
{% load static %}

{% block title %}
Trang chủ - KVBL
{% endblock %}

{% block content %}
<!-- Home slider -->
{% include "includes/slider.html" %}
<!-- Home slider end -->

<!-- Home banner -->
{% include "includes/banner.html" %}
<!-- Home slider end -->

<!-- Tab product -->
{% include "includes/tab_product.html" %}
<!-- Tab product end -->

<!-- Parallax -->
{% include "includes/parallax.html" %}
<!-- Parallax end -->

<!-- Parallax -->
{% include "includes/services.html" %}
<!-- Parallax end -->

<!-- Instagram section -->
{% include "includes/instagram_section.html" %}
<!-- Instagram section end -->
{% endblock %}