{% extends "base.html" %}
{% load static %}

{% block title %}
Giỏ hàng của bạn
{% endblock %}

{% block content %}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Giỏ hàng của bạn</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Trang chủ</a></li>
            <li class="breadcrumb-item active">Giỏ hàng</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

{% if not cart_items %}
    <!-- section start -->
    <section class="p-0">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="error-section">
              <h2>Hiện tại không có sản phẩm nào trong giỏ hàng của bạn!</h2>
              <a href="{% url 'store' %}" class="btn btn-solid">Tiếp tục mua sắm</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Section ends -->
{% else %}
<!--section start-->
<section class="cart-section section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 table-responsive-xs">
        <table class="table cart-table">
          <thead>
            <tr class="table-head" style="font-family: Roboto; font-weight: bold;">
              <th scope="col" style="font-size: 20px;">Hình ảnh</th>
              <th scope="col" style="font-size: 20px;">Sản phẩm</th>
              <th scope="col" style="font-size: 20px;">Giá</th>
              <th scope="col" style="font-size: 20px;">Số lượng</th>
              <th scope="col" style="font-size: 20px;">Xóa</th>
              <th scope="col" style="font-size: 20px;">Tổng</th>
            </tr>
          </thead>

          {% for item in cart_items %}
          <tbody>
            <tr>
              <td>
                <a href="#"><img src="{{ item.main_image  }}" alt=""></a>
              </td>
              <td><a href="#">{{ item.cart_item.product.product_name }}</a>
                <div class="mobile-cart-content row">
                  <div class="input-group input-spinner"
                    style="width: 40%; margin: 0 auto; display: flex; justify-content: center; align-items: center;">
                    <div class="input-group-prepend">
                      <a href="{% url 'remove_cart' item.cart_item.product.id %}" class="btn" type="button" id="button-minus"
                        style="width: 20px; height: 20px; background-color: rgb(254, 129, 109); color: white; border: none; padding: 5px 10px; cursor: pointer; text-align: center; display: flex; align-items: center; justify-content: center;">
                        <i class="fa fa-minus"></i>
                      </a>
                    </div>
                    <input readonly type="text" class="form-control" value="{{ item.cart_item.quantity }}"
                      style="width: 20px; height: 20px; text-align: center; vertical-align: middle; line-height: 20px;">
                    <div class="input-group-append">
                      <a href="{% url 'add_cart' item.cart_item.product.id %}" class="btn" type="button" id="button-plus"
                        style="width: 20px; height: 20px; background-color: rgb(254, 129, 109); color: white; border: none; padding: 5px 10px; cursor: pointer; text-align: center; display: flex; align-items: center; justify-content: center;">
                        <i class="fa fa-plus"></i>
                      </a>
                    </div>
                  </div>
                  <div class="col">
                    {% if item.cart_item.product.discount_price %}
                    <h2 class="td-color">{{ item.cart_item.product.formatted_discount_price }}</h2>
                    <span style="text-decoration: line-through; color: red;">
                      {{ item.cart_item.product.formatted_price }}
                    </span>
                    {% else %}
                    <h2 class="td-color">{{ item.cart_item.product.formatted_price }}</h2>
                    {% endif %}
                  </div>
                  <div class="col">
                    <h2 class="td-color"><a href="{% url 'remove_cart_item' item.cart_item.product.id %}" class="icon"><i class="ti-close"></i></a>
                    </h2>
                  </div>
                </div>
              </td>
              <td>
                {% if item.cart_item.product.discount_price %}
                <h2>{{ item.cart_item.product.formatted_discount_price }}</h2>
                <span style="text-decoration: line-through; color: red;">
                  {{ item.cart_item.product.formatted_price }}
                </span>
                {% else %}
                <h2>{{ item.cart_item.product.formatted_price }}</h2>
                {% endif %}
              </td>
              <td>
                <div class="input-group input-spinner"
                  style="width: 80%; margin: 0 auto; display: flex; justify-content: center; align-items: center;">
                  <div class="input-group-prepend">
                    <a href="{% url 'remove_cart' item.cart_item.product.id %}" class="btn" type="button" id="button-minus"
                      style="width: 40px; height: 40px; background-color: rgb(254, 129, 109); color: white; border: none; padding: 5px 10px; cursor: pointer; text-align: center; display: flex; align-items: center; justify-content: center;">
                      <i class="fa fa-minus"></i>
                    </a>
                  </div>
                  <input readonly type="text" class="form-control" value="{{ item.cart_item.quantity }}"
                    style="width: 30px; height: 40px; text-align: center; vertical-align: middle; line-height: 40px;">
                  <div class="input-group-append">
                    <a href="{% url 'add_cart' item.cart_item.product.id %}" class="btn" type="button" id="button-plus"
                      style="width: 40px; height: 40px; background-color: rgb(254, 129, 109); color: white; border: none; padding: 5px 10px; cursor: pointer; text-align: center; display: flex; align-items: center; justify-content: center;">
                      <i class="fa fa-plus"></i>
                    </a>
                  </div>
                </div>
              </td>
              <td><a href="{% url 'remove_cart_item' item.cart_item.product.id %}" class="icon"><i class="ti-close"></i></a></td>
              <td>
                <h2 class="td-color">{{ item.cart_item.formatted_sub_total }}</h2>
              </td>
            </tr>
          </tbody>
          {% endfor %}

        </table>
        <div class="table-responsive-md">
          <table class="table cart-table ">
            <tfoot>
              <tr>
                <td>Tạm Tính :</td>
                <td>
                  <h2>{{ formatted_total }}</h2>
                </td>
              </tr>
              <tr>
                <td>Phí Vận Chuyển :</td>
                <td>
                  <h2>{{ formatted_shipping_fee }}</h2>
                </td>
              </tr>
              <tr>
                <td>Tổng tiền phải trả :</td>
                <td>
                  <h2>{{ formatted_grand_total }}</h2>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="row cart-buttons">
      <div class="col-6"><a href="#" class="btn btn-solid">Tiếp tục mua sắm</a></div>
      <div class="col-6"><a href="#" class="btn btn-solid">Thanh toán</a></div>
    </div>
  </div>
</section>
<!--section end-->
{% endif %}

{% endblock %}