{% extends "base.html" %}
{% load static %}

{% block title %}
Thông tin giao hàng
{% endblock %}

{% block content %}

<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Thông tin giao hàng</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Trang chủ</a></li>
            <li class="breadcrumb-item active">Thông tin giao hàng</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->

<!-- section start -->
<section class="section-b-space">
  <div class="container">
    <div class="checkout-page">
      <div class="checkout-form">
        <form action="{% url 'place_order' %}" method="POST">
          {% csrf_token %}
          <div class="row">
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-title">
                <h3>Vui lòng điền đầy đủ thông tin giao hàng</h3>
              </div>
              <div class="row check-out">
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Họ và tên đệm</div>
                  <input type="text" name="first_name" value="" placeholder="Nhập vào họ và tên đệm . . ." required>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Tên</div>
                  <input type="text" name="last_name" value="" placeholder="Nhập vào tên . . ." required>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Số điện thoại</div>
                  <input type="text" name="phone_number" value="" placeholder="Nhập vào số điện thoại . . ." required>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                  <div class="field-label">Email</div>
                  <input type="text" name="email" value="" placeholder="Nhập vào email . . ." required>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Địa chỉ</div>
                  <input type="text" name="address" value=""
                    placeholder="Nhập vào số nhà, tên đường, ấp. Ví dụ (Số 7, Đường T14, Ấp 4) . . ." required>
                </div>
                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                  <div class="field-label">Xã / Phường</div>
                  <input type="text" name="commune" value=""
                    placeholder="Nhập vào xã hoặc phường. Ví dụ (Tân Quý Tây) . . ." required>
                </div>
                <div class="form-group col-md-12 col-sm-6 col-xs-12">
                  <div class="field-label">Quận / Huyện</div>
                  <input type="text" name="district" value=""
                    placeholder="Nhập vào quận hoặc huyện. Ví dụ (Bình Chánh) . . ." required>
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                  <div class="field-label">Tỉnh / Thành Phố</div>
                  <input type="text" name="city" value=""
                    placeholder="Nhập vào tỉnh hoặc thành phố. Ví dụ (Hồ Chí Minh) . . ." required>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-sm-12 col-xs-12">
              <div class="checkout-details">
                <div class="order-box">
                  <div class="title-box">
                    <div>Sản phẩm <span>Giá</span></div>
                  </div>
                  <ul class="qty">
                    {% for item in cart_items %}
                    <li style="font-size: 15px; color: #232323; line-height: 20px;">
                      {{ item.cart_item.product.product_name }}<br>
                      <p style="font-size: 14px; color: #777; line-height: 20px;">
                        Số lượng : {{ item.cart_item.quantity }}<br>
                        {% if item.sorted_variations %}
                        {% for variation in item.sorted_variations %}
                        {{ variation.variation_category }} : {{ variation.variation_value }}<br>
                        {% endfor %}
                        {% endif %}
                      </p>
                      <span style="position: absolute; top: 0; right: 0;">
                        {% if item.cart_item.product.discount_price %}
                        {{ item.cart_item.product.formatted_discount_price }}/cái
                        {% else %}
                        {{ item.cart_item.product.formatted_price }}/cái
                        {% endif %}
                      </span>
                    </li>
                    {% endfor %}
                  </ul>
                  <ul class="sub-total">
                    <li>Tạm tính <span class="count">{{ formatted_total }}</span></li>
                    <li>Phí vận chuyển <span class="count">{{ formatted_shipping_fee }}</span></li>
                    <li>Tổng tiền phải trả <span class="count">{{ formatted_grand_total }}</span></li>
                  </ul>
                  <div class="payment-box" style="display: flex; justify-content: space-between;">
                    <div><a href="{% url 'cart' %}" class="btn-solid btn">Quay lại</a></div>
                    <div><button type="submit" class="btn-solid btn">Tiếp tục</button></div>
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- section end -->

{% endblock %}