{% extends "base.html" %}
{% load static %}

{% block title %}
{{ single_product.product_name }}
{% endblock %}

{% block content %}
<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>Chi Tiết Sản Phẩm</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ single_product.product_name }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb End -->


<!-- section start -->
<section>
  <div class="collection-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 col-sm-2 col-xs-12">
          <div class="row">
            <div class="col-12 p-0">
              <div class="slider-right-nav">
                {% for image in product_images %}
                <div><img src="{{ image.image.url }}" alt="{{ single_product.product_name }}"
                    class="img-fluid blur-up lazyload"></div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-10 col-xs-12 order-up">
          <div class="product-right-slick">
            {% for image in product_images %}
            <div><img src="{{ image.image.url }}" alt="{{ single_product.product_name }}"
                class="img-fluid blur-up lazyload image_zoom_cls-0">
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-lg-4">
          <div class="product-right product-description-box">
            <h2>{{ single_product.product_name }}</h2>
            {% if single_product.stock <= 0 %} <span class="lable3" style="color: red; font-weight: bold;">(Hết Hàng Tạm
              Thời)</span>
              {% else %}
              {% endif %}

              {% if in_cart %} <span class="lable3" style="color: green; font-weight: bold;">(Đã Có Trong Giỏ
                Hàng)</span>
              {% else %}
              {% endif %}
              <div class="border-product">
                <h6 class="product-title" style="font-size: 14px;">Mô tả ngắn:</h6>
                <p>{{ single_product.short_description }}</p>
              </div>
              <div class="single-product-tables border-product detail-section">
                <table>
                  <tbody>
                    <tr>
                      <td class="product-title" style="font-size: 14px;">Free Ship: </td>
                      <td class="product-title" style="font-size: 14px;">Đơn hàng trên 200.000đ</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="border-product">
                <h6 class="product-title" style="font-size: 14px;">Thanh toán Online bảo mật tuyệt đối</h6>
                <div class="payment-card-bottom">
                  <ul>
                    <li>
                      <a href="#"><img src="{% static '/images/icon/visa.png' %}" alt=""></a>
                    </li>
                    <li>
                      <a href="#"><img src="{% static '/images/icon/mastercard.png' %}" alt=""></a>
                    </li>
                    <li>
                      <a href="#"><img src="{% static '/images/icon/paypal.png' %}" alt=""></a>
                    </li>
                    <li>
                      <a href="#"><img src="{% static '' %}/images/icon/american-express.png" alt=""></a>
                    </li>
                  </ul>
                </div>
              </div>
          </div>
        </div>
        <div class="col-lg-4">
          <form action="{% url 'add_cart' single_product.id %}" method="POST">
            {% csrf_token %}
            <div class="product-right product-form-box">
              {% if single_product.discount_price %}
              <h4><del>{{ single_product.formatted_price }}</del><span>{{ discount_percentage }}% off</span></h4>
              <h3>{{ single_product.formatted_discount_price }}</h3>
              {% else %}
              <h3>{{ single_product.formatted_price }}</h3>
              {% endif %}
              <div class="addeffect-section product-description border-product">
                <h6 class="product-title">Vui lòng chọn màu áo</h6>
                <div class="size-box">
                  <ul>
                    <select name="color" class="form-control" required>
                      <option value="" disabled selected>Chọn màu áo</option>
                      {% for i in single_product.variation_set.colors %}
                      <option value="{{ i.variation_value | title }}">{{ i.variation_value | title }}</option>
                      {% endfor %}
                    </select>
                  </ul>
                </div>
              </div>
              <div class="addeffect-section product-description border-product">
                <h6 class="product-title">Vui lòng chọn size áo</h6>
                <div class="size-box">
                  <ul>
                    <select name="size" class="form-control" required>
                      <option value="" disabled selected>Chọn size áo</option>
                      {% for size in sorted_sizes %}
                      <option value="{{ size.variation_value | upper }}">{{ size.variation_value | upper }}</option>
                      {% endfor %}
                    </select>
                  </ul>
                </div>
              </div>
              {% if single_product.stock > 0 %}
              <div class="product-buttons">
                <button type="submit" id="cartEffect"
                  class="btn btn-solid hover-solid btn-animation" style="text-decoration: none;">
                  Mua ngay
                </button>
                <a href="#" class="btn btn-solid" style="text-decoration: none;">Yêu thích</a>
              </div>
              {% else %}
              <div class="product-buttons">
                <a href="javascript:void(0)" id="cartEffect" class="btn btn-solid hover-solid btn-animation">Liên hệ</a>
                <a href="#" class="btn btn-solid">Yêu thích</a>
              </div>
              {% endif %}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section ends -->


<!-- product-tab starts -->
<section class="tab-product m-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-12">
        <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
          <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home"
              role="tab" aria-selected="true"><i class="icofont icofont-ui-home"></i>Chi tiết</a>
            <div class="material-border"></div>
          </li>
        </ul>
        <div class="tab-content nav-material" id="top-tabContent">
          <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
            <div class="product-tab-discription">
              <div class="part">
                {{ single_product.long_description|safe }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- product-tab ends -->
{% endblock %}